# vendor packages
node_modules

# project meta
.idea
.settings
*.sublime-project
*.sublime-workspace

npm-debug.log
.DS_Store

# compiled python source files
*.pyc

app/sample/static
credentials.json
venv
.env
