label {
  margin-bottom: @margin-half;
}

input {
  margin-bottom: @margin-default;
  padding: @margin-half;
  min-width: 160px;
  border: 1px solid @brand-downplay;
  font-size: 1rem;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin: 0 0 @margin-half;
}

input,
label {
  display: block;
}

textarea {
  min-width: 240px;
  min-height: 80px;
  display: block;
  font-size: 1rem;
  margin-bottom: @margin-default;
  padding: @margin-half;
}

button,
.button {
  display: inline-block;
  border: none;
  padding: @margin-half @margin-default;
  background-color: @brand-highlight;
  color: @brand-default;
  font-size: 1rem;
  text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus  {
    background-color: #e3d015;
}
