{% extends "_base.html" %}
{% from 'components/header/header.html' import header %}

{% block header %}
{{ header() }}
{% endblock %}

{% block content %}

  <section class="activity">

    <h1 class="activity__title">Code Classes</h1>
    {% for codeClass in codeClasses %}
      <article class="item">
        <span class="item__meta">{{ codeClass.date }}</span>
        <h1 class="item__title">
          <a href="{% print url_for('codeClass', title = codeClass.title) %}">{{ codeClass.title }}</a>
        </h1>
        <span class="item__meta">by {{ codeClass.speaker }}</span>
      </article>
    {% endfor %}

  </section>

  <section class="activity">

    <h1 class="activity__title">Code Talks</h1>

    {% for codeTalk in codeTalks %}
      <article class="item">
        <span class="item__meta">{{ codeTalk.date }}</span>
        <h1 class="item__title">{{ codeTalk.title }}</h1>
        <span class="item__meta">by {{ codeTalk.speaker }}</span>
      </article>
    {% endfor %}

  </section>

{% endblock %}
