{% extends "_base.html" %}
{% from 'components/header/header.html' import header %}

{% block header %}
{{ header() }}
{% endblock %}

{% block content %}

    <article class="card">
      <h1 class="card__title">{{ activity.title }}</h1>
      <div class="card__meta">
        <span>{{ activity.date }} - </span>
        <span>by {{ activity.speaker }}</span>
      </div>
      <p class="card__description">{{ activity.description }}</p>
      <form action="{% print url_for('activity', title = activity.title) %}" method='post' class="rating-form">
        <fieldset>
          <legend class="rating-form__legend">How did you like it?</legend>

          <div class="ratings">
            <div class="rating">
              <input id="good" value="1" type="radio" name="rating" checked>
              <label class="rating__label" for="good">
                <span class="rating__label-text">good</span>
              </label>
            </div>

            <div class="rating">
              <input id="bad" value="0" type="radio" name="rating">
              <label class="rating__label" for="bad">
                <span class="rating__label-text">bad</span>
              </label>
            </div>
          </div>

          <button class="button rating-form__button" type="submit">Give rating</button>
        </fieldset>
      </form>
    </article>

    <a href="{{ url_for('activities') }}">
      <svg style="width:20px;height:20px" viewBox="0 0 24 24">
          <path fill="#12353C" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
      </svg>
      <span class="link-text">Back to all activities</span>
    </a>

{% endblock %}
