{% extends "_base.html" %}
{% from 'components/header/header.html' import header %}

{% block header %}
{{ header() }}
{% endblock %}

{% block content %}

    <article class="card">
      <h1 class="card__title">{{ codeClass.title }}</h1>
      <div class="card__meta">
        <span>{{ codeClass.date }} - </span>
        <span>by {{ codeClass.speaker }}</span>
      </div>
      <p class="card__description">{{ codeClass.description }}</p>
      <div class="card__actions">
        <a href="{% print url_for('editCodeClass', id = codeClass.id) %}">Edit</a>
        <a href="{% print url_for('deleteCodeClass', id = codeClass.id) %}">Delete</a>
      </div>
    </article>

    <a href="{{ url_for('codeClasses') }}">Back to all code classes</a>

{% endblock %}
