{% extends "_base.html" %}
{% from 'components/header/header.html' import header %}

{% block header %}
{{ header() }}
{% endblock %}

{% block content %}

  {% for codeClass in codeClasses %}

    <article class="item">
      <span class="item__meta">{{ codeClass.date }}</span>
      <h1 class="item__title">
        <a href="{% print url_for('codeClass', id = codeClass.id) %}">{{ codeClass.title }}</a>
      </h1>
      <span class="item__meta">by {{ codeClass.speaker }}</span>
    </article>

  {% endfor %}

  <a href="{% print url_for('newCodeClass') %}">Create new code class</span></a>

{% endblock %}
