{% extends "_base.html" %}
{% from 'components/header/header.html' import header %}

{% block header %}
{{ header() }}
{% endblock %}

{% block content %}

    <form action="{{ url_for('deleteCodeClass', title = codeClass.title) }}" method='post'>
      <fieldset>
        <legend>Are you sure you want to delete {{ codeClass.title }}</legend>
        <input class="button" type="submit" value="Delete">
        <a href="{{ url_for('codeClass', title = codeClass.title) }}">Cancel</a>
      </fieldset>
    </form>

{% endblock %}
