{% extends "_base.html" %}
{% from 'components/header/header.html' import header %}

{% block header %}
{{ header() }}
{% endblock %}

{% block content %}

    <form action="{{ url_for('editCodeClass', id = codeClass.id) }}" method='post'>
      <fieldset>
        <legend>Edit code class</legend>

        <label for="title">Title:</label>
        <input id="title" type="text" name="title" placeholder="{{ codeClass.title }}">

        <label for="date">Date:</label>
        <input id="date" type="text" name="date" placeholder="{{ codeClass.date }}">

        <label for="speaker">Speaker:</label>
        <input id="speaker" type="text" name="speaker" placeholder="{{ codeClass.speaker }}">

        <label for="description">Description:</label>
        <textarea id="description" type="text" name="description" placeholder="{{ codeClass.description }}"></textarea>

        <button class="button" type="submit">Edit</button>
        <a href="{{ url_for('codeClass', id = codeClass.id) }}">Cancel</a>
      </fieldset>
    </form>

{% endblock %}
